{
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "before": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {"devDependencies": true}
    ]
  }
}
